/******************************************************/
/*                       fonts                        */
/******************************************************/
@font-face {
    font-family: "Montserrat-Regular";
    src: url("./fonts/Montserrat-Regular/Montserrat-Regular.otf") format("otf"),
    	 url("./fonts/Montserrat-Regular/Montserrat-Regular.eot") format("eot"),
		 url("./fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff");
}

a, p, h1, h2 {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight:normal;
}

header nav li {
	font-size: 0.75rem;
}

a, footer a {
	text-decoration: none;
}


/******************************************************/
/*                        colors                      */
/******************************************************/
header nav {
	background-color: $color-bg-nav;
}
nav li a {
 	color: $color-nav-li;
}

.bandeau {
	background-color: $color-bandeau-bg;
}

.bandeau h1 > a {
	color: $color-bandeau-h1;
}

.bandeau h2 > a {
	color: $color-bandeau-h2;
}

.link {
	background-color: $color-link-bg;
}

.link-btn {
	background-color: $color-link-btn;
}

.link h2 > a {
	color: $color-link-txt;
}

.txt {
	background-color: $color-txt-bg;
}

.txt h2 {
	color: $color-txt-h2;
}

.txt p {
	color: $color-txt-p;
}

footer {
	background-color: $color-bg-nav;
}

footer > a {
	color: $color-footer-txt;
}

/******************************************************/
/*                      header nav                    */
/******************************************************/
header nav li {
	text-transform: uppercase;
 	display: inline-block;
 	margin-right: 1.5rem;
}

/******************************************************/
/*                main bandeau turquoise              */
/******************************************************/
h2, img {
	display: inline-block;
}

img {
	width: 2.2%;
	height: auto;
	vertical-align: middle;
}

h1.claim, h2.claim, img.claim {
	margin: 0;
    padding: 0;
}


/******************************************************/
/*               main bandeau noir (link)             */
/******************************************************/
.link {
    width: 75%;
    height: 100%;
    display: table;
}

.link-h2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

// .link-btn {
// 	text-align: center;
// }

// div.link-btn > div.link-img > a > img {
// 	width: 15%;
// 	height: auto;
// }

.link-btn {
	// text-align: center;
	background: url(./assets/img/fa-right.svg) no - repeat center center;
	background-color: $color-link-btn; 
	// margin: auto;
}

div.link-btn > div.link-img > a > img {
	width: 15%;

}

// .link-btn {
// 	background: $color-link-btn;
// 	padding: auto 0;
// }

/******************************************************/
/*                     main 3 photos                  */
/******************************************************/
[class*="col"] {
    padding-right: 0;
    padding-left: 0;
}

.photo .img-fluid {
	width: 100%;
	height: 100%;
}


/******************************************************/
/*                        main                        */
/******************************************************/


/******************************************************/
/*                        footer                      */
/******************************************************/


/******************************************************/
/*                      responsive                    */
/******************************************************/
@media (min-width: $sm-screen-breack-point) {
	h1 {
		font-size: 1.22rem;
	}

	h2 {
		font-size: 0.7rem;
	}

	p, li > a {
		font-size: 0.8rem
	}

	h1, h2, p {
		margin-left: 1.7rem;
		margin-right: 1.7rem;
	}

	nav > li, footer > li > a {
		margin-left: 1.2rem;
		margin-right: 1.2rem;
	}

	section>div.link {
		min-height: 4.8rem;
	}

	section.bandeau{
		min-height: 11rem;
	}

	div.claim {
		padding-top: 2rem;
	}
}

@media (min-width:  $md-screen-breack-point) {
	h1 {
		font-size: 2.34rem;
	}

	h2 {
		font-size: 1.36rem;
	}

	p, li > a {
		font-size: 0.8rem
	}

	h1, h2, p  {
		margin-left: 3.3rem;
		margin-right: 3.3rem;
	}

	nav > li, footer > li > a {
		margin-left: 2.4rem;
		margin-right: 2.4rem;
	}

	section>div.link {
		min-height: 9.5rem;
	}

	section.bandeau{
		min-height: 22rem;
	}

	div.claim {
		padding-top: 4rem;
	}
}

@media (min-width: $lg-screen-breack-point) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2rem;
	}

	p, li > a {
		font-size: 1rem;
	}

	h1, h2, p  {
		margin-left: 5rem;
		margin-right: 5rem;
	}

	nav > li, footer > li > a {
		margin-left: 4rem;
		margin-right: 4rem;
	}

	section>div.link {
		min-height: 15rem;
	}

	section.bandeau{
		min-height: 34rem;
	}

	div.claim {
		padding-top: 6rem;
	}
}

@media (min-width: $xl-screen-breack-point) {
	h1 {
		font-size: 4rem;
	}
	 
	h2 {
		font-size: 2rem;
	}

	p, li > a {
		font-size: 1rem
	}
	
	h1, h2, p   {
		margin-left: 5rem;
		margin-right: 5rem;
	}

	nav > li, footer > li > a {
		padding-left: 4rem;
		margin-right: 4rem;
	}

	section>div.link {
		min-height: 15rem;
	}

	section.bandeau{
		min-height: 36rem;
	}

	div.claim {
		padding-top: 7rem;
	}
}
