@function columns($lColumn, $nbColumns: $nbMaxColumns){
	$flex-basis: 100% / $nbColumns * $lColumn;
	@return $flex-basis;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: $container-width;
	margin: auto;
	padding-right: $gutter-width;
	padding-left: $gutter-width;
}

.container-fluid {
	padding-right: $gutter-width;
	padding-left: $gutter-width;
	width: $container-fluid-width;
}

.container-fluid .container {
	padding-right: 0;
	padding-left: 0;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -$gutter-width;
	margin-left: -$gutter-width;
}

[class*="col"] {
	padding-right: $gutter-width;
	padding-left: $gutter-width;	
}

.col {
	flex-basis: 0;
    flex-grow: 1;
	flex-shrink: 1;
}

.col-auto {
	flex: 0 0 auto; /* flex-basis + flex-grow + flex-shrink */
}

/**********************************************/
/*            Boucle Column 1 à 12            */
/**********************************************/
@for $i from 1 through $nbMaxColumns {
	.col-#{$i}
	{
		flex: 0 0 columns($i);
	}
}

@media (min-width: $sm-screen-breack-point) {
	.col-sm {
		flex-basis: 0;
	    flex-grow: 1;
		flex-shrink: 1;
	}

	.col-sm-auto {
		flex: 0 0 auto; /* flex-basis + flex-grow + flex-shrink */
	}

	@for $i from 1 through $nbMaxColumns {
		.col-sm-#{$i}
		{
			flex: 0 0 columns($i);
		}
	}
}

@media (min-width: $md-screen-breack-point) {
	.col-md {
		flex-basis: 0;
	    flex-grow: 1;
		flex-shrink: 1;
	}

	.col-md-auto {
		flex: 0 0 auto; /* flex-basis + flex-grow + flex-shrink */
	}

	@for $i from 1 through $nbMaxColumns {
		.col-md-#{$i}
		{
			flex: 0 0 columns($i);
		}
	}
}

@media (min-width: $lg-screen-breack-point) {
	.col-lg {
		flex-basis: 0;
	    flex-grow: 1;
		flex-shrink: 1;
	}

	.col-lg-auto {
		flex: 0 0 auto; /* flex-basis + flex-grow + flex-shrink */
	}

	@for $i from 1 through $nbMaxColumns {
		.col-lg-#{$i}
		{
			flex: 0 0 columns($i);
		}
	}
}

@media (min-width: $xl-screen-breack-point) {
	.col-xl {
		flex-basis: 0;
	    flex-grow: 1;
		flex-shrink: 1;
	}

	.col-xl-auto {
		flex: 0 0 auto; /* flex-basis + flex-grow + flex-shrink */
	}

	@for $i from 1 through $nbMaxColumns {
		.col-xl-#{$i}
		{
			flex: 0 0 columns($i);
		}
	}
}