/**------------
 * GRID DEFINITION
 ------------*/

 $container-fluid-width:				100%;
 $container-width:						1024px;

 $gutter-width: 						1rem;

 $sm-screen-breack-point:				320px;
 $md-screen-breack-point:				640px;
 $lg-screen-breack-point:				980px;
 $xl-screen-breack-point:				1024px;

 $nbMaxColumns:							12;

 /**------------
 * COLORS
 ------------*/

 $color1:								 #fff; //blanc
 $color2:								#E1E1E1; //turquoise
 $color3:								#888888; //rose
 $color4:								#000000; //gris antracite
 $color5:								#22C7DA;
 $color6:								#bc3183;
 $color-nav-li:							#ebebeb;
 $color-bg-nav:							#373c3f;
 $color-bandeau-bg:						#078aa4;
 $color-bandeau-h1:						#ffffff;
 $color-bandeau-h2:						#a8d5df;
 $color-link-bg:						#27212c;
 $color-link-btn:						#bc3183;
 $color-link-txt:						#9989a8;
 $color-txt-bg:							#ebebeb;
 $color-txt-h2:							#088ca5;
 $color-txt-p:							#515151;
 $color-footer-txt:						#767676;

 /**------------
 * FONT SIZES
 ------------*/

 $base-font-size:						16px;
 $ratio:								4/3;
 $p-fz:									1rem;
 $h6-fz:								0;
 $h5-fz:								0;
 $h4-fz:								0;
 $h3-fz:								0;
 $h2-fz:								$p-fz*$ratio;
 $h1-fz:								$h2-fz*$ratio;

 /**------------
 * OPTIONAL FILES
 ------------*/

 $use-grid-debug:							false;
