/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/**------------
 * GRID DEFINITION
 ------------*/
/**------------
 * COLORS
 ------------*/
/**------------
 * FONT SIZES
 ------------*/
/**------------
 * OPTIONAL FILES
 ------------*/
/*====================================================*/
/*                       COLOR                        */
/*====================================================*/
* {
  box-sizing: border-box; }

.container {
  max-width: 1024px;
  margin: auto;
  padding-right: 1rem;
  padding-left: 1rem; }

.container-fluid {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%; }

.container-fluid .container {
  padding-right: 0;
  padding-left: 0; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem; }

[class*="col"] {
  padding-right: 1rem;
  padding-left: 1rem; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1; }

.col-auto {
  flex: 0 0 auto;
  /* flex-basis + flex-grow + flex-shrink */ }

.col-1 {
  flex: 0 0 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%; }

.col-3 {
  flex: 0 0 25%; }

.col-4 {
  flex: 0 0 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%; }

.col-6 {
  flex: 0 0 50%; }

.col-7 {
  flex: 0 0 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%; }

.col-9 {
  flex: 0 0 75%; }

.col-10 {
  flex: 0 0 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%; }

.col-12 {
  flex: 0 0 100%; }

/*.col-1 {
	flex: 0 0 8.333333%;
}

.col-2 {
	flex: 0 0 16.666667%;
}

.col-3 {
	flex: 0 0 25%;
}

.col-4 {
	flex: 0 0 33.333333%;
}

.col-5 {
	flex: 0 0 41.666667%;
}

.col-6 {
	flex: 0 0 50%;
}

.col-7 {
	flex: 0 0 58.333333%;
}

.col-8 {
	flex: 0 0 66.666667%;
}

.col-9 {
	flex: 0 0 75%;
}

.col-10 {
	flex: 0 0 83.333333%;
}

.col-11 {
	flex: 0 0 91.666667%;
}

.col-12 {
	flex: 0 0 100%;
}*/
@media (min-width: 320px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1; }
  .col-sm-auto {
    flex: 0 0 auto;
    /* flex-basis + flex-grow + flex-shrink */ }
  .col-sm-1 {
    flex: 0 0 8.33333%; }
  .col-sm-2 {
    flex: 0 0 16.66667%; }
  .col-sm-3 {
    flex: 0 0 25%; }
  .col-sm-4 {
    flex: 0 0 33.33333%; }
  .col-sm-5 {
    flex: 0 0 41.66667%; }
  .col-sm-6 {
    flex: 0 0 50%; }
  .col-sm-7 {
    flex: 0 0 58.33333%; }
  .col-sm-8 {
    flex: 0 0 66.66667%; }
  .col-sm-9 {
    flex: 0 0 75%; }
  .col-sm-10 {
    flex: 0 0 83.33333%; }
  .col-sm-11 {
    flex: 0 0 91.66667%; }
  .col-sm-12 {
    flex: 0 0 100%; } }

@media (min-width: 640px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1; }
  .col-md-auto {
    flex: 0 0 auto;
    /* flex-basis + flex-grow + flex-shrink */ }
  .col-md-1 {
    flex: 0 0 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%; } }

@media (min-width: 980px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1; }
  .col-lg-auto {
    flex: 0 0 auto;
    /* flex-basis + flex-grow + flex-shrink */ }
  .col-lg-1 {
    flex: 0 0 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%; } }

@media (min-width: 1024px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1; }
  .col-xl-auto {
    flex: 0 0 auto;
    /* flex-basis + flex-grow + flex-shrink */ }
  .col-xl-1 {
    flex: 0 0 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%; } }

/*====================================================*/
/*                       FONTS                        */
/*====================================================*/
/*====================================================*/
/*                      LAYOUT                        */
/*====================================================*/
/*====================================================*/
/*                       BOUTON                       */
/*====================================================*/
/*====================================================*/
/*                       HEADER                       */
/*====================================================*/
/*====================================================*/
/*                        MAIN                        */
/*====================================================*/
/*====================================================*/
/*                       FOOTER                       */
/*====================================================*/
/******************************************************/
/*                       fonts                        */
/******************************************************/
@font-face {
  font-family: "Montserrat-Regular";
  src: url("./fonts/Montserrat-Regular/Montserrat-Regular.otf") format("otf"), url("./fonts/Montserrat-Regular/Montserrat-Regular.eot") format("eot"), url("./fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"); }

a, p, h1, h2 {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: normal; }

header nav li {
  font-size: 0.75rem; }

a, footer a {
  text-decoration: none; }

/******************************************************/
/*                        colors                      */
/******************************************************/
header nav {
  background-color: #373c3f; }

nav li a {
  color: #ebebeb; }

.bandeau {
  background-color: #078aa4; }

.bandeau h1 > a {
  color: #ffffff; }

.bandeau h2 > a {
  color: #a8d5df; }

.link {
  background-color: #27212c; }

.link-btn {
  background-color: #bc3183; }

.link h2 > a {
  color: #9989a8; }

.txt {
  background-color: #ebebeb; }

.txt h2 {
  color: #088ca5; }

.txt p {
  color: #515151; }

footer {
  background-color: #373c3f; }

footer > a {
  color: #767676; }

/******************************************************/
/*                      header nav                    */
/******************************************************/
header nav li {
  text-transform: uppercase;
  display: inline-block;
  margin-right: 1.5rem; }

/******************************************************/
/*                main bandeau turquoise              */
/******************************************************/
h2, img {
  display: inline-block; }

img {
  width: 2.2%;
  height: auto;
  vertical-align: middle; }

h1.claim, h2.claim, img.claim {
  margin: 0;
  padding: 0; }

/******************************************************/
/*               main bandeau noir (link)             */
/******************************************************/
.link {
  width: 75%;
  height: 100%;
  display: table; }

.link-h2 {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.link-btn {
  background: url(./assets/img/fa-right.svg) no-repeat center center;
  background-color: # ; }

div.link-btn > div.link-img > a > img {
  width: 15%; }

/******************************************************/
/*                     main 3 photos                  */
/******************************************************/
[class*="col"] {
  padding-right: 0;
  padding-left: 0; }

.photo .img-fluid {
  width: 100%;
  height: 100%; }

/******************************************************/
/*                        main                        */
/******************************************************/
/******************************************************/
/*                        footer                      */
/******************************************************/
/******************************************************/
/*                      responsive                    */
/******************************************************/
@media (min-width: 320px) {
  h1 {
    font-size: 1.22rem; }
  h2 {
    font-size: 0.7rem; }
  p, li > a {
    font-size: 0.8rem; }
  h1, h2, p {
    margin-left: 1.7rem;
    margin-right: 1.7rem; }
  nav > li, footer > li > a {
    margin-left: 1.2rem;
    margin-right: 1.2rem; }
  section > div.link {
    min-height: 4.8rem; }
  section.bandeau {
    min-height: 11rem; }
  div.claim {
    padding-top: 2rem; } }

@media (min-width: 640px) {
  h1 {
    font-size: 2.34rem; }
  h2 {
    font-size: 1.36rem; }
  p, li > a {
    font-size: 0.8rem; }
  h1, h2, p {
    margin-left: 3.3rem;
    margin-right: 3.3rem; }
  nav > li, footer > li > a {
    margin-left: 2.4rem;
    margin-right: 2.4rem; }
  section > div.link {
    min-height: 9.5rem; }
  section.bandeau {
    min-height: 22rem; }
  div.claim {
    padding-top: 4rem; } }

@media (min-width: 980px) {
  h1 {
    font-size: 4rem; }
  h2 {
    font-size: 2rem; }
  p, li > a {
    font-size: 1rem; }
  h1, h2, p {
    margin-left: 5rem;
    margin-right: 5rem; }
  nav > li, footer > li > a {
    margin-left: 4rem;
    margin-right: 4rem; }
  section > div.link {
    min-height: 15rem; }
  section.bandeau {
    min-height: 34rem; }
  div.claim {
    padding-top: 6rem; } }

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem; }
  h2 {
    font-size: 2rem; }
  p, li > a {
    font-size: 1rem; }
  h1, h2, p {
    margin-left: 5rem;
    margin-right: 5rem; }
  nav > li, footer > li > a {
    padding-left: 4rem;
    margin-right: 4rem; }
  section > div.link {
    min-height: 15rem; }
  section.bandeau {
    min-height: 36rem; }
  div.claim {
    padding-top: 7rem; } }
