main {
	font-size: 0;
}
.column {
	font-size: 1em;	/* 1*0=0 */
	font-size: 1rem; /* 1*0=0 */
	display: inline-block;
}
.w33 {
	width: 33.33333%;
}
.inColumn {
	padding: 0 1rem;
	/*on a bien laissé les margin top et bottom du user agent en em*/
}
h1 {
	font-size: 2rem;
}