p {
	background: red;
}

/* selecteur class */
.green {
	background: green;
}

p {
	background: blue;
}

/* selecteur d'attribut */
[class="green"] {
	background: purple;
}

#pink {
	background: pink;
}

p:first-of-type {
	/* cible le 1er element de type p */
	background: brown;
}