/************* COLOR *************/
body > header p, 
body > header a,
body > footer a {
	color: white;
}

main p {
	color: grey;
}

main a {
	color: blue;
}

body > header, 
body > footer {
	background: grey;
}


/************* FONT *************/
body > header p, 
body > header a,
main p,
main a,
body > footer a {
	font-size: 1rem;
}

main h1 {
	font-size: 1.78rem; /* font-size du (h2 x 4/3) */
}

main h2 {
	font-size: 1.33rem; /* font-size du (p x 4/3) */
}

body {
	font-size: 0;
}

/************* LAYOUT *************/
* {
	box-sizing: border-box; /* permet d'inclure le padding et le border dans le width */
}

.container {
	max-width: 1240px;
	margin: auto;
}

.col-1 {
	width: calc(100%/12*1);
}

.col-2 {
	width: calc(100%/12*2);
}

.col-3 {
	width: calc(100%/12*3);
}

.col-4 {
	width: calc(100%/12*4);
}

.col-5 {
	width: calc(100%/12*5);
}

.col-6 {
	width: calc(100%/12*6);
}

.col-9 {
	width: calc(100%/12*9);
}


[class*="col"] {
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
}

/************* BOUTONS *************/
.btn {
	padding: .5em 1em;
	margin: 1em 0 1em 50%;
	background: purple;
	display: inline-block;
	color: white;
}

/************* MAIN *************/
main h1,
main h2 {
	padding-left: 1rem;
	padding-right: 1rem;
}


/************* HEADER *************/
header img {
	width: 100
}

/************* FOOTER *************/


