* {
	background: rgba(0,0,0,.2);
	border: 1px solid black;
	min-height: 30px;
}

/* ========================= */
/*			COLORS 			 */
/* ========================= */

body > header p,
body > header a,
body > footer a {
	/*color: white;*/
}

main h1 {
	/*color: orange;*/
}
main p {
	/*color: grey;*/
}

main a {
	/*color: blue;*/
}

body > header,
body > footer {
	/*background: purple;*/
}

/* ========================= */
/*			FONTS 			 */
/* ========================= */

body > header p,
body > header a,
main p,
main a,
body > footer a,
figcaption {
	font-size: 1rem;
}

main h2 {
	font-size: 1.33rem; /* font-size du p x 4/3 */
}

main h1 {
	font-size: 1.78rem; /* font-size du h2 x 4/3 */
}

body {
	font-size: 0;
}

/* ========================= */
/*			LAYOUT 			 */
/* ========================= */

* {
	box-sizing: border-box; /*Permet d'inclure le padding et le border dans le width*/
}

.container {
	max-width: 1240px;
	margin: auto;
}

.col-1 {
	width: calc(100%/12*1);
}
.col-2 {
	width: calc(100%/12*2);
}
.col-3 {
	width: calc(100%/12*3);
}
.col-4 {
	width: calc(100%/12*4);
}
.col-5 {
	width: calc(100%/12*5);
}
.col-6 {
	width: calc(100%/12*6);
}
.col-7 {
	width: calc(100%/12*7);
}
.col-8 {
	width: calc(100%/12*8);
}
.col-9 {
	width: calc(100%/12*9);
}
.col-10 {
	width: calc(100%/12*10);
}
.col-11 {
	width: calc(100%/12*11);
}
.col-12 {
	width: calc(100%/12*12);
}

[class*="col"] {
	display: inline-block;
	padding: 0 1rem;
	vertical-align: top;
}

img {
	width: 100%;
}

figure {
	margin: 0;
}

/* ========================= */
/*			BUTTONS			 */
/* ========================= */



/* ========================= */
/*			HEADER 			 */
/* ========================= */



/* ========================= */
/*			MAIN			 */
/* ========================= */



/* ========================= */
/*			FOOTER 			 */
/* ========================= */