* {
	background: ;
	border: 1px solid black;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.container {
	max-width: 700px;
	margin: auto;
}

.flex {
	display: flex;
/*	flex-direction: row;
	flex-wrap: wrap;*/
	justify-content: center;

}

