* {
	margin: 0;
}

header, footer {
	background: grey;
	color: white;
	padding: 10px 10px;
}
main {
	background: lightblue;
	color: grey;
	font-size: 0;
}
p {
	display: inline-block;
}
div {
	display: inline-block;
	width: 33.3%;
	font-size: 16px;
}
a {
	display: inline-block;
	font-size: 16px;
	background: green;
}

.btn {
	text-align: center;
	width: 100%;
}
h1 {
	font-size: 16px;
}
a {
	padding: 10px 10px;
}
header>p {
	border: 2px solid red;
	padding: 0 10px;
	width: 20%;
}
footer>p {
	border: 2px solid red;
	text-align: center;
	width: 33.3%;
}
main>div>p {
	border: 2px solid red;
}